{% extends 'hh/base.html' %}
{% block content %}
  <main class="container mt-3">
    <div class="navbar mt-5">
      <p><a href="{{ request.META.HTTP_REFERER }}">Назад</a></p>
    </div>
    <section>
      <div class="text-center">
        <img src="{{ company.logo }}" width="130" height="80" alt="">
      </div>
      <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ company.name|capfirst }}</strong></h1>
      <p class="text-center pt-1">Компания, {{ company.location }}, {{ company.vacancies.count }} вакансий</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          <div class="card mb-4">
            {% load repl %}
            {% for vacancy in company.vacancies.all %}
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <a class="text-body" href="/vacancies/{{ vacancy.id }} "><h2 class="h2 pb-2">{{ vacancy.title }}</h2></a>
                  <p class="mb-2">{{ vacancy.specialty.title }} • Старший (Senior) • {{ vacancy.skills|repl }}</p>
                  <p>От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                  <p class="text-muted pt-1">{{ vacancy.published_at|date:'d.m.y' }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <img src="{{ vacancy.specialty.picture }}" width="130" height="80" alt="">
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}